<!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" /> -->
<main class="news-write ko">
  <section class="newss-wrap">
    <div class="news-page__title" style="margin-bottom: 50px">
      <h1>보도자료 작성</h1>
    </div>
    <form action="/newsWrite" method="post" enctype="multipart/form-data">
      <input class="newss-title" type="text" name="title" placeholder="제목을 입력해주세요." />
      <pre>
        <textarea class="news_contentsTxt" name="content" placeholder="내용을 입력해주세요."></textarea>
      </p>
      <div class="rootName">
        <input type="file" name="img" />
      </div>
      <div class="news-buttons">
        <a class="news__confirmBtn" href="/news">취소</a>
        <input class="news__confirmBtn" type="submit" value="등록" />
      </div>
    </form>
  </section>
</main>
